body{
    background-color: #fffefb;
    margin:0 auto;
    background-image: url(pictures/tex8.jpg)
    
}

.header{
    background: #000000;
    opacity:0.8;
    width:100%;
    height:100px;
    top:0;
    box-shadow: 0 2px 150px #000000;
    margin:0 auto;
    position:relative;
    border-bottom-color: 10px solid black;
    
    
}
h1{
    color:#ffffff;
    margin: 0 auto;
    padding: 0 auto;
    left:10%;
    top:30px;
    position:absolute;
    font-family: 'Fjalla One', sans-serif;
    font-weight:bold;
    text-shadow: 0 2px 20px #0b0000;
    
}

.form{
    margin: 0 auto;
    padding: 0 auto;
    position: absolute;
    right:10%;
    top:20px;
}

lable{
    margin:0 auto;
    color: white; 
}

input[type="submit"]{
   margin-top: 5px ;
    margin-bottom:5px;
    margin-left: 5px;
    margin-right: 5px; 
    padding:0 auto;
   
}
input[type="email"][name="email"]{
    margin-left:23px;
    margin-bottom: 2px;
  box-shadow: black;
}


a{
    color: white;
    text-decoration-color: white;
}

.register{
    width:auto;
    height:auto;
    margin:0 auto;
    padding:10px;
    left: 42%;
    top: 20%;
    position: absolute; /* Position has several profiles in here. Include 1.Static, 2.Relative, 3.Absolute, 4.Fixed, 5.Sticky*/
    border: 10px solid black;
    background:#d0d0d0;
    opacity: 0.8;
    box-shadow: 0 2px 100px black;
}

.register input[type="text"]{
    margin:5px auto;
    padding: 10px;
    border-color: #606060;
    border-width: 5px;
}

.register h4{
    color: #000000;
    font-size: 20px;
    font-family: Arial;
    font-weight: bold; 
    text-shadow: 0 2px 70px black;
    text-align:center;   
}

.option{
    text-align: center;
        
}

.register input[type="email"][name="email"]{
  margin: 5px auto;
  padding: 10px;
      border-color: #606060;
    border-width: 5px;
}

.register input[type="password"]{
  margin: 5px auto;
  padding: 10px;
      border-color: #606060;
    border-width: 5px;
}

.register input[type="submit"]{
  margin-top: 5px;
  margin-left: 65px;
  padding: 10px;
  border-color: #606060;
  border-width: 5px;
  
}

/* Using the sticky position fuction */
/*position: -webkit-sticky;
  position: sticky;*/